.order-header-wrap {
    background-color: white;
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.15);
}
.order-font {
    font-size: 16px;
    color: grey;
}
.underline {
    text-decoration: underline;
}
.order-head {
    font-size: 24px;
    color: black;
    font-weight: bold;
}
.order-details-wrap {
    background-color: white;
    border-radius: 5px;
    border: 1px solid #dee2e6;
    padding: 30px;
    margin-right: 6rem;
    margin-left: 6rem;
}
.search-text-field {
    border-radius: 40px;
    width: 500px;
}